@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #333;
    height: 100vh;
    font-family: Orbitron;
}

.game-area {
    width: 700px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.927);
    position: relative;
}

.ball {
    background-color: green;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.paddle {
    width: 20px;
    height: 100px;
    top: 100px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.906);
    border-radius: 10px;
}

.player-paddle {
    left: 0;
    border-right: solid, 2px, red;
    
}

.computer-paddle {
    right: 0;
}

.score {
    width: 280px;
    height: 55px;
    background-color: blue;
    top: -60px;
    left: 210px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.points {
    color: white;
    font-size: 30px;
}

.controls {
    position: absolute;
    bottom: 60px;
}

.faster {
    position: absolute;
    left: 25px;
    width: 18%;
    opacity: 0;
}

.slower {
    position: absolute;
    left: 25px;
    width: 18%;
    opacity: 0;
}

